//@import "vars.scss";
//.nav {
//  display: flex;
//  height: 100%;
//  align-items: center;
//}
$green: #33cc99;
#app{
  color: white !important;

}
.nav__link {
  @media (max-width: 768px) {
    &--block {
      //display: none;
      display: flex;
      flex-direction: column;
      a{
        text-align: center;
      }
    }
    &--close{
      display: none;
    }
  }
  font-size: 18px;
  font-family:"Lato Medium", sans-serif;
  position: relative;
  color: white !important;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.25px;
  line-height: 28px;
  &--btn{
    border-radius: 60px;
    padding:19px 43px;
    transition: background-color .2s linear, color .2s linear;
    &:hover{
      //border: 2px solid $green;
      box-sizing: border-box !important;
      background-color: white;
      color:$green !important;
    }
    &-active{
      box-sizing: border-box !important;
      background-color: white;
      color:$green !important;
      border-radius: 60px;
    }
  }
  &--active{
    border-radius: 60px;
    padding:19px 43px;
    transition: background-color .2s linear, color .2s linear;
    box-sizing: border-box !important;
    background-color: white;
    color:$green !important;
    &:hover{
      transform: scale3d(1.2,1.2,1.2);
      transition: all 0.3s ease-in;
      box-shadow: 0 10px 30px rgba($green,0.35);
    }
  }
  &{
    margin-left: 15px;
  }
  @media (max-width: 768px){
    margin: 0 22px !important;
    padding: 10px !important;
  }
  @media (max-width: 425px){
    margin:0 !important;
    padding: 5px !important;
  }
}
.container{
  padding-left: 210px;
  padding-right: 210px;
  max-width: 1600px !important;
  padding-top: 0;
  &__header{
    padding-top: 20px;
    height: 535px !important; //785
  }
  @media (max-width:1600px){
    padding-left: 110px;
    padding-right:110px;
  }
  @media (max-width:1410px){
    padding-left: 50px;
    padding-right:50px;
  }
  @media (max-width:768px){
    padding-left: 20px;
    padding-right:20px;
  }
}
.section__header{
  text-align: center;
  color: black;
  font-family: Lato, b, sans-serif;
  font-size: 36px;
  @media (max-width: 1024px){
    font-size: 28px;
  }
  @media (max-width: 768px){
    font-size: 20px;
  }
}
